{% extends "layout.html" %}
{% block content %}
{{ session.inputs }} <br xmlns="http://www.w3.org/1999/html">
Name: {{ product.name }} <br>
Price: {{ product.price }} <br>
count: {{ product.count }} <br>
<form method="post" action="/product/buy/{{ product.id }}">
    <label for="amount">Amount:
        <input type="number" id="amount" name="amount" min="1" max="{{  product.count }}" required/>
    </label>
    <label for="payment">Payment Method:</label>
    <select name="payment" id="payment">
        <option value="paypal">PayPal</option>
        <option value="credit-card">CreditCard</option>
    </select>
    <br>
    <button class="smallButton" type="submit" > Buy </button>
</form>
{% endblock %}